html {
	font-size: 32;
	font-family: "Courier New", Courier, monospace;
}

#drawing {
	display: block;
	margin: 200px auto 20px auto;
	border: 1px solid black;
}

.control-panel {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid black;
	width: 950px;
	height: 200px;
	margin: auto;
}

.control-panel div {
	padding: 20px 20px;
	border: 1px solid black;
	font-size: 3em;
	text-align: center;
	color: black;
}

.control-panel div:hover {
	background-color: ghostwhite;
}

.control-panel div a {
	color: black;
	text-decoration: none;
}

.control-panel div a:hover {
	cursor: pointer;
}
