html {
	font-size: 32;
	font-family: "Courier New", Courier, monospace;
}

#drawing {
	display: block;
	margin: 200px auto 20px auto;
	border: 1px solid black;
}

.control-panel {
	align-items: center;
	border: 1px solid black;
	width: 950px;
	height: 200px;
	margin: auto;
}

.control-panel div {
	width: 400px;
	padding: 20px;
	height: 60px;
	border: 1px solid black;
	font-size: 3em;
	text-align: center;
	color: black;
	margin: 45px auto;
}
